@import 'color';
@import 'btn';
@import 'modal';
@import 'wallpaper-calculator';

*, *::before, *::after {
    box-sizing: border-box;
}

body {
  background-color: $dark-gray;
  font-family: sans-serif;
  color: $dark-gray;
}
